@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&display=swap');
@import "tailwindcss";


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}

:root {
  font-family: 'Inter', sans-serif;
  background: #000000;
}

/* Custom scrollbar for textarea */
textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background: #0f131a; /* Tailwind's gray-800 */
  border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #181f3f; /* Tailwind's blue-900 */
  border-radius: 6px;
  border: 2px solid #1f2937; /* Match track */
}
